:root {
  --basic-black: #000000;
  --basic-extra-dark: #ababab;
  --basic-light-dark: #5A5A5A;
  --basic-dark: #323232;
  --hover-light: #FFBC9E;
  --hover-dark: #E84D37;
  --basic-white: #ffffff;

  --placeholder-color: #999999;
  --text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  --button-text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  --bg-form: #F8F7F4;
  --bg-form-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  --input-border: #D3D3D2;
  --input-border-feedback: rgba(178, 178, 178, 0.52);
  --input-border-feedback-cursor: rgba(46, 136, 228, 0.52);

  --bg-link-current: #D07058;
  --bg-link-hover: #FBDED7;
  --bg-link-active: #F6B5A5;
  --bg-basic: rgba(255, 255, 255, 0.2);

  --bg-button-link-active: #EDEDED;
  --bg-button-link-active-shadow: inset 0px 2px 1px #696969;

  --bg-button: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --bg-button-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --bg-button-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --bg-button-hover-shadow: 0px 2px 2px #AC1000;
  --bg-button-active: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --bg-button-active-shadow: inset 0px 2px 2px #942718;

  --bg-body-current: #849D8F;
  --bg-body-block: #E5E5E5;
  --bg-body-2: #8996A6;
  --bg-body-3: #9D8B84;

  --bg-promo: #ca7070;
  --bg-about: #ffebcd;
  --bg-contacts: #fefefe;
}

body {
  min-width: 1200px;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body__bg {
  background-color: var(--bg-body-current);
  background-repeat: no-repeat;
  background-position: center top;
}

.page-catalog {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}

.index-1 {
  background-color: var(--bg-body-current);
  background-image: url("../img/slider-1.png");
}

.index-2 {
  background-color: var(--bg-body-2);
  background-image: url("../img/slider-2.png");
}

.index-3 {
  background-color: var(--bg-body-3);
  background-image: url("../img/slider-3.png");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.btn {
  display: inline-block;
  font: inherit;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  vertical-align: middle;
  text-decoration: none;
  border: none;
  background: var(--bg-button);
  box-shadow: var(--bg-button-shadow);
  border-radius: 26px;
}

.btn:hover {
  background: var(--bg-button-hover);
  box-shadow: var(--bg-button-hover-shadow);
}

.btn:focus,
.btn:active {
  outline: none;
  background: var(--bg-button-active);
  box-shadow: var(--bg-button-active-shadow);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: var(--basic-white);
}

.link:hover,
.link:focus,
.link:active {
  outline: none;
  color: var(--hover-light);
}

.link-dark {
  color: var(--basic-dark);
}

.link-dark:hover,
.link-dark:focus,
.link-dark:active {
  outline: none;
  color: var(--hover-dark);
}

.dropdown__menu {
  display: none;
  position: absolute;
  height: auto;
  color: var(--basic-dark);
  border-radius: 4px;
  box-shadow: var(--bg-form-shadow);
  z-index: 2;
}

.dropdown:hover .dropdown__menu {
  display: block;
}

.field-text__input {
  padding: 13px;
  width: 100%;
  font: inherit;
  font-weight: bold;
  color: var(--basic-dark);
  background: var(--basic-white);
  border: 1px solid var(--input-border);
  border-radius: 4px;
}

.field-text__input:hover {
  border: 2px solid var(--input-border);
}

.field-text__input:focus,
.field-text__input:active {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.field-text__input::-webkit-input-placeholder {
  color: var(--placeholder-color);
  font-weight: normal;
}
.field-text__input:-ms-input-placeholder {
  color: var(--placeholder-color);
  font-weight: normal;
}
.field-text__input::-ms-input-placeholder {
  color: var(--placeholder-color);
  font-weight: normal;
}
.field-text__input::placeholder {
  color: var(--placeholder-color);
  font-weight: normal;
}

.header__top {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-top: 10px;
  margin-right: 11px;
}

.logo-link {
  width: 154px;
  height: 64px;
  display: inline-block;
}

.nav {
  margin-right: 100px;
}

.nav__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.nav__item:not(:last-child) {
  margin-right: 5px;
}

.nav__link {
  position: relative;
  padding: 7px 14px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  border-radius: 26px;
}

.nav__link:after {
  content:"";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
}

.nav__link--active {
  text-decoration: none;
  background-color: var(--bg-link-current);
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  color: var(--basic-dark);
  text-decoration: none;
  background-color: var(--basic-white);
}

.nav__link:focus,
.nav__link:active {
  outline: none;
  background: var(--bg-button-link-active);
  box-shadow: var(--bg-button-link-active-shadow);
}

.dropdown__menu--sub-nav {
  top: 30px;
  left: -6px;
}

.sub-nav {
  width: 143px;
  background-color: var(--basic-white);
  border-radius: 4px;
}

.sub-nav__title {
  display: block;
  margin: 0 8px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.sub-nav__items {
  padding: 5px 0;
}

.sub-nav__link {
  display: block;
  padding: 7px 0 8px 22px;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark);
  text-decoration: none;
}

.sub-nav__link:hover,
.sub-nav__link--active {
  background-color: var(--bg-link-hover);
}

.sub-nav__link:focus,
.sub-nav__link:active {
  background-color: var(--bg-link-active);
}

.sub-nav__link--current {
  background-color: var(--bg-link-current);
}

.user-nav {
  margin-top: 5px;
  margin-left: auto;
  display: flex;
}

.user-nav__item:not(:last-child) {
  margin-right: 10px;
}

.user-nav__link {
  position: relative;
  display: inline-block;
  padding: 11px 16px 7px 45px;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  font-weight: 500;
  text-decoration: none;
  background-color: var(--bg-basic);
  border-radius: 20px;
}

.user-nav__link::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-nav__link:hover,
.user-nav__link:focus,
.user-nav__link:active,
.user-nav__link--active {
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

.search {
  position: relative;
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 8px 8px;
}

.search::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60px;
  width: 60px;
  height: 40px;
}

.search:hover,
.search:focus,
.search:active {
  outline: none;
  background-image: url("../img/search-hover.svg");
}

.dropdown__menu--search {
  top: 60px;
  right: 313px;
}

.search-form {
  width: 341px;
  height: auto;
  padding: 20px 15px;
  background-color: var(--bg-form);
  border-radius: 4px;
}

.search-form__button {
  position: absolute;
  top: -39px;
  right: 0px;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.login::before {
  width: 20px;
  height: 19px;
  background-image: url("../img/login.svg");
}

.login:hover::before,
.login:focus::before,
.login:active::before {
  outline: none;
  background-image: url("../img/login-hover.svg");
}

.dropdown__menu--login {
  top: 60px;
  right: 209px;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  width: 277px;
  height: auto;
  padding: 19px;
  background-color: var(--bg-form);
  border-radius: 4px;
}

.login-form__item {
  margin: 0;
  margin-bottom: 20px;
  width: 100%
}

.login-form__half {
  margin: 0;
  width: 50%;
  font-size: 13px;
  line-height: 15px;
}

.login-form__button {
  padding: 15px 25px;
  font-size: 18px;
  line-height: 16px;
}

.login-form__link {
  display: inline-block;
  padding: 4px 0 2px 1px;
}

.cart-empty:before {
  width: 21px;
  height: 20px;
  background-image: url("../img/cart.svg");
}

.cart-empty:hover::before,
.cart-empty:focus::before,
.cart-empty:active::before {
  background-image: url("../img/cart-hover.svg");
}

.cart-full::before {
  width: 21px;
  height: 20px;
  background-image: url("../img/cart-full.svg");
}

.dropdown__menu--cart {
  top: 60px;
  right: 100px;
}

.cart {
  width: 539px;
  height: auto;
  padding: 20px 15px;
  color: var(--basic-dark);
  background-color: var(--bg-form);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart__box {
  margin-bottom: 16px;
  padding: 8px 7px 14px;
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  border-bottom: 1px solid #CACAC7;
}

.cart__item:not(:last-child) {
  margin-bottom: 37px;
}

.cart__del-button {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 6px;
  background-image: url("../img/delete-btn.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.cart__name {
  display: inline-block;
  max-width: 261px;
  position: relative;
  margin-right: 28px;
  padding-left: 45px;
  vertical-align: top;
}

.cart__name::before {
  content: " ";
  position: absolute;
  top: -10px;
  left: 0;
  width: 33px;
  height: 33px;
  background-size: contain;
  border-radius: 50%;
}

.cart__name--1::before {
  background-image: url("../img/ic-1.jpg");
}

.cart__name--2::before {
  background-image: url("../img/ic-3.jpg");
}
.cart__weight {
  margin-right: 22px;
  color: var(--basic-black);
}

.cart__tolal {
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
}

.cart__button {
  padding: 9px 15px;
}

.header-contacts {
  text-align: right;
}

.header-contacts__schedule {
  margin: 0;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 16px;
}

.header-contacts__tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-white);
  text-decoration: none;
}

.slider {
  position: relative;
  margin-bottom: 40px;
  padding-top: 273px;
  text-align: center;
  color: var(--basic-white);
}

.slide {
  display: none;
}

.slide--current {
  display: block;
}

.slide__text {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slide__button {
  padding: 9px 40px;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.slider__controls {
  width: 79px;
  position: absolute;
  bottom: 23px;
  left: 0;
  z-index: 5;

  display: flex;
  justify-content: space-between;
}

.slider__button {
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider__button:hover:not(.slider__button--current) {
  background: rgba(255, 255, 255, 0.2);
}

.slider__button--current,
.slider__button:focus,
.slider__button:active {
  outline: none;
  background-color: var(--basic-white);
}

.banner {
  margin-bottom: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.promo {
  min-height: 229px;
  display: flex;
  flex-direction: column;
  padding: 16px 22px 22px 16px;
  border-radius: 16px;
  background-color: var(--bg-promo);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo--bg-left {
  background-image: url("../img/raspeberry-bg.jpg");
}

.promo--bg-right {
  background-image: url("../img/choco-bg.jpg");
}

.promo__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.promo__text {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.promo__button-box {
  margin: 0;
  margin-top: auto;
  text-align: right;
}

.promo__button {
  padding: 12px 22px;
}

.products-catalog {
  margin: 0 -13px;
  margin-bottom: 40px;
}

.products-catalog__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 37px;
}

.product {
  position: relative;
  width: 293px;
  padding-top: 6px;
  text-align: center;
}

.product__button {
  display: none;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 20px;
  padding: 10px 16px;
  cursor: pointer;
}

.product__link {
  display: block;
}

.product:hover {
  width: 293px;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.product:hover .product__button {
  display: inline-block;
}

.product__img {
  width: 267px;
  height: 267px;
  margin: 0;
  margin-bottom: 9px;
  border-radius: 50%;
}

.product__title {
  margin: 0 auto;
  max-width: 258px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--basic-white);
  text-decoration: underline;
}

.product__cost {
  margin: 0;
  position: absolute;
  top: 215px;
  left: 14px;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: var(--text-shadow);
}

.product__weight {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.product--hit::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 13px;
  z-index: 5;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-position: 14px 17px;
  background-color:  var(--basic-white);
  background-repeat: no-repeat;
  border-radius: 50%;
}

.about {
  margin-bottom: 40px;
  padding: 25px 20px 30px;
  color: var(--basic-dark);
  background-color: var(--bg-about);
  background-image: url("../img/waffle-bg.jpg");
  background-repeat: repeat;
  border-radius: 16px;
}

.about__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px 26px;
}

.about__item {
  position: relative;
  margin: 0;
  padding-left: 55px;
  font-size: 16px;
  line-height: 22px;
}

.about__item::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: 12px 6px;
  border: 2px solid var(--basic-dark);
  border-radius: 50%;
}

.about__item--icon-1::before {
  background-image: url(../img/ice-cream.svg);
}

.about__item--icon-2::before {
  background-image: url(../img/cow.svg);
  background-position: 9px 9px;
}

.about__item--icon-3::before {
  background-image: url(../img/leaf.svg);
}

.about__item--icon-4::before {
  background-image: url(../img/thermometer.svg);
  background-position: 15px 8px;
}

.banner--2 {
  margin-bottom: 37px;
}

.blog {
  height: 220px;
  padding: 17px 20px;
  background-color: var(--basic-white);
  background-image: url("../img/strawberry-bg.jpg");
  border-radius: 16px;
}

.blog__title {
  margin: 0;
  margin-bottom: 3px;
  color: var(--basic-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog__link {
  display: inline-block;
  margin: 0;
  max-width: 287px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

.subscription {
  padding: 5px;
  background-image: url("../img/mail-bg.png");
}

.subscription__wrapper {
  height: 100%;
  padding: 23px 21px 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-form);
  border-radius: 16px;
}

.subscription__text {
  margin: 0;
  color: var(--basic-light-dark);
  font-size: 16px;
  line-height: 22px;
}

.subscription__form {
  display: flex;
  justify-content: space-between;
}

.subscription__field-text {
  flex-grow: 1;
  margin-right: 10px;
}

.subscription__input::placeholder {
  font-size: 16px;
  line-height: 24px;
}

.subscription__input {
  padding: 16px 11px 10px;
}

.subscription__button {
  padding: 11px 19px;
}

.map {
  position: relative;
  margin-left: -27px;
  width: 1200px;
  height: 433px;
}

.map:before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 135px;
  left: 265px;
  width: 80px;
  height: 140px;
  background-image: url("../img/pin-ic.svg");
}

.map__link {
  position: relative;
  z-index: 1;
}

.map__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  margin: 0;
}

.contacts {
  margin: 0;
  padding: 30px 25px;
  position: absolute;
  top: 65px;
  right: 27px;
  z-index: 5;
  width: 303px;
  height: 306px;
  color: var(--basic-dark);
  background: var(--bg-contacts);
  border-radius: 16px;
}

.contacts__text {
  display: block;
  margin: 0;
  max-width: 175px;
  font-size: 14px;
  line-height: 20px;
}

.contacts__address {
  display: block;
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.contacts__tel{
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark);
  text-decoration: none;
}

.contacts__schedule {
  display: block;
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 20px;
}

.contacts__button {
  padding: 10px 28px;
  font-weight: bold;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 266px 1fr 266px;
}

.footer__item:not(:last-child) {
  padding: 32px 0;
}

.social {
  display: grid;
  grid-template-columns: 36px 36px 36px 36px;
  column-gap: 8px;
}

.social__link {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.social__link--facebook {
  background-image: url("../img/facebook.svg");
}

.social__link--vkontakte {
  background-image: url("../img/vkontakte.svg");
}

.social__link--instagram {
  background-image: url("../img/instagram.svg");
}

.social__link--twitter {
  background-image: url("../img/twitter.svg");
}

.social__link:hover {
  opacity: 1;
}

.social__link:focus,
.social__link:active {
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.documents {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-self: center;
  gap: 5px 28px;
}

.documents__link {
  padding-left: 5px;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.documents__link--heart {
  position: relative;
}

.documents__link--heart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  top: 3px;
  left: -17px;
  background-image: url("../img/heart.svg");
}
.copyright {
  justify-self: end;
  padding-top: 18px;
}

.copyright__logo-link {
  display: inline-block;
  width: 108px;
  height: 39px;
  background-image: url("../img/logo-academy.svg");
}
.copyright__text {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

/* catalog.thml*/

.breadcrumbs {
  position: absolute;
  top: 100px;
  left: 97px;
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 22px;
}

.breadcrumbs__link {
  position: relative;
  color: var(--basic-white);
}

.breadcrumbs__link::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -14px;
  width: 6px;
  height: 6px;
  background-image: url(../img/double-right.svg);
}

.catalog-main__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 35px;
  line-height: 30px; /*стоит ли менять, чтобы подогнать по высоте? Было 41px*/
}

.filters {
  width: 869px;
  margin-bottom: 27px;
}

.filters__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filters__item {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  border: none;
}

.filters__name {
  margin-left: 17px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.filters__bg {
  height: 38px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
}

.filters-option:not(:last-child) {
  margin-right: 19px;
}

.filters-option__label {
  padding-left: 28px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.filters-option__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select__controls {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 196px;
  padding-left: 17px;
  color: var(--basic-white);
  font-weight: 500;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 172px 14px;
}

.select__controls:hover {
  color: var(--basic-dark);
  background-image: url(../img/arrow-hover.svg);
}

.select__controls:focus,
.select__controls:active {
  outline: none;
}

.select__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark);
}

.select__item:hover {
  border: none;
}

.range {
  width: 218px;
}

.range__controls {
  position: relative;
  padding: 17px 21px 0;
}

.scale {
  height: 2px;
  background-color: rgba(248, 247, 244, 0.5);
}

.scale__bar {
  margin-left: 15%;
  width: 55%;
  height: 2px;
  background-color: var(--bg-form);
}

.toggle {
  box-sizing: content-box;
  position: absolute;
  top: 10px;
  width: 4px;
  height: 4px;
  background: var(--basic-extra-dark);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.toggle:hover {
  top: 8px;
  width: 4.4px;
  height: 4.55px;
  border: 9px solid var(--basic-white);
}

.toggle--min {
  left: 35px;
}

.toggle--max {
  left: 168px;
}

.radiobuttons {
  width: 425px;
}

.radiobuttons__controls {
  display: flex;
  padding: 0 17px;
  padding-top: 11px;
}

.filters-option__radio {
  position: absolute;
  left: -3px;
  top: -2px;
  width: 22px;
  height: 22px;
  border: 3px solid var(--basic-white);
  opacity: 0.8;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.filters-option__input:checked + .filters-option__radio {
  background-image: url("../img/radio-on.svg");
}

.filters-option__input:hover + .filters-option__radio {
  opacity: 1;
}

.checkbox {
  width: 711px;
}

.checkbox__controls {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  padding: 0 20px;
  padding-top: 9px;
}

.filters-option__checkbox {
  position: absolute;
  left: -5px;
  top: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 10%;
  border: 2px solid var(--basic-white);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.8;
}

.filters-option__input:checked + .filters-option__checkbox {
  width: 24px;
  border: none;
  background-image: url("../img/checkbox-on.svg");
}

.filters-option__input:hover + .filters-option__checkbox {
  opacity: 1;
}

.filter-button {
  margin-top: 24px;
  padding: 11px 28px;
  vertical-align: middle;
  text-align: center;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border: 2px solid var(--basic-white);
}

.filter-button:hover {
  color: var(--basic-dark);
  background-color: var(--basic-white);
  border: none;
}

.filter-button:focus,
.filter-button:active {
  outline: none;
  box-shadow: inset 0px 2px 1px #696969;
}

.pagination {
  padding-top: 37px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--bg-basic);
}

.pagination__wrapper {
  display: flex;
  justify-content: flex-end;
}

.pagination__link {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 8px;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.pagination__arrow {
  content: "";
  position: relative;
  top: 2px;
  right: -4px;
  margin-right: 0;
  padding: 10px;
  width: 7px;
  height: 12px;
  font-size: 0;
  background-image: url("../img/right.svg");
  background-repeat: no-repeat;
  background-position: 7px 4px;
}

.pagination__arrow:first-child {
  left: -10px;
  transform: rotate(180deg);
}

.pagination__link:hover:not(.pagination__link--current) {
  background-color: var(--bg-basic);
  border-radius: 50%;
}

.pagination__link--current,
.pagination__link:focus,
.pagination__link:active {
  outline: none;
  color: var(--basic-dark);
  background-color: var(--basic-white);
  border-radius: 50%;
}

.pagination__arrow--disabled {
  cursor: default;
  opacity: 0.2;
}

.feedback {
  display: block;
  width: 477px;
  height: 441px;
  margin: 0 auto;
}

.feedback-form {
  padding: 15px 25px 24px;
  border-radius: 6px;
  background-color: var(--bg-form);
}

.feedback-form__text {
  margin: 0;
  margin-bottom: 20px;
  color: var(--basic-dark);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.feedback-form__item {
  margin: 0;
  margin-bottom: 20px;
  width: 62.5%;
}

.feedback-form__input {
  padding: 11px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.feedback-form__textarea {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

.feedback-form__button {
  padding: 11px 24px;
}
